.btn {
  border-radius: 28pt;
  font-size: 16px;
  color: white;
  background: var(--main-color);
  border: none;
  padding: 15px 20px;
}

.btn-border {
  color: var(--main-color);
  background: white;
  border: 1px solid var(--main-color);
}

.btn-fb {
  background-color: var(--facebook-color);
  border: 1px solid var(--facebook-color);
  font-size: 12px;
}
