.card-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 20px;
  overflow-x: auto;
  padding-left: 20px;
  justify-content: start;
}

.card-container::after {
  content: "";
  width: 10px;
}

.card {
  text-align: center;
}

.card-image {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.card-text {
  margin: 0;
  font-weight: bold;
  font-size: 0.8em;
  color: #4a4b4d;
}

.card-container::-webkit-scrollbar {
  display: none;
}
