<section class="card-container">
  <!-- Sri Lankan Card -->
  <div class="card">
    <img class="card-image" src="../../assets/srilankan.jpg" alt="srilankan" />
    <p class="card-text">Sri Lankan</p>
  </div>

  <!-- Italian Card -->
  <div class="card">
    <img class="card-image" src="../../assets/italian.jpg" alt="italian" />
    <p class="card-text">Italian</p>
  </div>

  <!-- Offers Card -->
  <div class="card">
    <img class="card-image" src="../../assets/offers.jpg" alt="offers" />
    <p class="card-text">Offers</p>
  </div>
</section>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam temporibus
  placeat facere quo distinctio illo, consequuntur vitae tenetur molestias eius
  voluptatum ex, quod doloremque maxime quia tempora voluptatibus! Molestias,
  magni.
</p>
